<!DOCTYPE html>
<html>
<head>
    <title>MARS HEMISPHERES</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      img {
        width: 90%;
        height: 90%;
        object-fit: contain;
        margin-left: 50px;
        margin-right: 50px;
      }
    </style>

  </head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission To Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <h2>Latest Mars News</h2>
        <h3>{{data_from_flask.news_title}}</h3>
        <p>{{data_from_flask.paragraph}}</p>

        <div class="row">
          <div class="col-md-6">
            <h2>     Featured Image</h2>
            <img src="{{data_from_flask['featured_image']}}" alt="Featured Image">
          </div>
          <div class="col-md-6">
            <h2>   Mars Facts</h2>
            {{data_from_flask['mars_facts'] | safe}}
          </div>
        </div>
        <div class="row"></div>
          <div class="col-md-12">
            <h2><center>Mars Hemispheres</center></h2>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <img src="{{data_from_flask.hemisphere_images[0]['img_url']}}" alt="Featured Image">
              <h3><center>{{data_from_flask.hemisphere_images[0]['title']}}</center></h3>
            </div> 
            <div class="col-md-6">
              <img src="{{data_from_flask.hemisphere_images[1]['img_url']}}" alt="Featured Image">
              <h3><center>{{data_from_flask.hemisphere_images[1]['title']}}</center></h3>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6"> 
              <img src="{{data_from_flask.hemisphere_images[2]['img_url']}}" alt="Featured Image">
              <h3><center>{{data_from_flask.hemisphere_images[2]['title']}}</center></h3>
            </div> 
            <div class="col-md-6"> 
              <img src="{{data_from_flask.hemisphere_images[03]['img_url']}}" alt="Featured Image">
              <h3><center>{{data_from_flask.hemisphere_images[3]['title']}}</center></h3>
            </div> 
          </div> 
      </div>
      </div>   
 
</body>

</html>
